<div class="container">
  {{#if session.isAuthenticated}}
    {{nav-bar}}
  {{else}}
    {{public/public-index}}
  {{/if}}
  <!-- {{#if session.isAuthenticated}}
  Hello, {{sessionAccount.account.name}}
  {{/if}}
  <a href="/home">home</a> -->
  {{outlet}}
</div>
